#main.svelte-le2jep{width:100vw;height:100vh;position:absolute;outline:none}canvas.svelte-le2jep{position:absolute;top:0;left:0;width:100vw;height:100vh;z-index:-100;outline:none;pointer-events:none}
